header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px 0; */
} 

@media screen and (min-width:1024px){
    header {
        margin: 38px 0 0;
    } 
}