.houstingTitle h1 {
    font-size: 18px;
    color: var(--primary-color);
}

.houstingTitle p {
    font-size: 14px;
    color: var(--primary-color);
}

@media screen and (min-width:1024px) {

    .houstingInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .houstingTitle h1 {
        font-size: 36px;
    }

    .houstingTitle p {
        font-size: 18px;
    }

}