header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

img {
    width: 210px;
    height: 68px;
    object-fit: cover;
}

nav a{
    color: red;
}