header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
} 

header img {
    width: 145px;
    height: 47px;
}

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: red;
    margin-left: 10px;
}

@media screen and (min-width:1024px) {
    header img {
        width: 210px;
        height: 68px;
    }
  }